[Unit]
Description=irhttpd
Wants=lircd.service
After=lircd.service

[Service]
User=pi
WorkingDirectory=/home/pi/irhttp
ExecStart=/home/pi/irhttp/irhttpd.py

[Install]
WantedBy=multi-user.target
